.toolBar{
background-color: white;
border-bottom: black;
border-bottom: solid;
border-bottom-width: thin;
}
.container{
    margin-top: 58px;
}
.tableCard
{
margin-top: 26px;
}
.textInput
{
margin-left: 14px;
}
.backToRegister
{
    border-color: lightseagreen;
    border-style: solid;
    border-width: thin;
    background: lightseagreen;
    color: white;
}
.addBtn
{
    border-color: lightseagreen;
    border-style: solid;
    border-width: thin;
    background: lightseagreen;
    color: white;
    margin-left: 14px;
}
.itemUpdateBtn
{
    margin-left:14px;
}