<!DOCTYPE html>
  <html lang="en">
  <head>
    <title>Orca Table</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
<mat-toolbar class="toolBar">
    <span class="txtTitle">Restaurant Page to Add,Update or Delete menu items</span>
  </mat-toolbar>
  <div class="container"> 
    <div class="textBox">  
    <button mat-flat-button class="backToRegister" (click)="goBackToRegister()">Back to Register</button>        
      <input type="text" class="textInput" [(ngModel)]="searchName" size="75" placeholder="key word search" (keydown.space)="$event.preventDefault();">
      <button mat-flat-button class="addBtn" (click)="openDialog()">Add Item</button>        
    </div>  
        <mat-card class="tableCard">
            <table class="table">
        <thead>
        <tr>
          <th>Item Name</th>
          <th>Item Description</th>
          <th>Item Price</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="(itemArray|search:searchName).length === 0 || !itemArray || itemArray.length === 0">
          <td colspan="4">No Data Found</td>
        </tr>
        <tr *ngFor="let item of itemArray| search:searchName">
          <td>{{item.itemName}}</td>
          <td>{{item.itemDesc}}</td>
          <td>{{item.itemPrice}}</td>
          <td><button mat-flat-button class="itemDeleteBtn" color="warn" (click)="performDelete(item)">Delete</button> 
            <button mat-flat-button class="itemUpdateBtn" color="primary" (click)="performUpdate(item)">Update</button> 
          </td>
        </tr>
           </tbody>
    </table>
  </mat-card>
  </div>
</body>