<!DOCTYPE html>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>
                                <label for="roles">Choose a role:</label>
                                <select id="roles" name="roles" (change)="onSelectChange($event)">
                                  <option value="Restaurant">Restaurant</option>
                                  <option value="Customer">Customer</option>
                                  <option value="Delivery">Delivery Boy</option>
                                </select>
                    <div class="form-group" *ngIf="restaurantCondition">
                        <label><span class="req">* </span> Restaurant Name: </label>
                        <input class="form-control" type="text" name="restaurantName" required
                            placeholder="Enter the restaurant name" [(ngModel)]="restaurantName"/>
                    </div>
                    <div class="form-group" *ngIf="customerCondition">
                        <label><span class="req">* </span> Customer Name : </label>
                        <input class="form-control" type="text" name="customerName"
                            placeholder="Enter Customer Name" [(ngModel)]="customerName" required />
                            <label><span class="req">* </span> Customer Address : </label>
                        <input class="form-control" type="text" name="customerAddress"
                            placeholder="Enter Customer Address" [(ngModel)]="customerAddress" required />
                            <label><span class="req">* </span> Customer Tel : </label>
                        <input class="form-control" type="number" name="customerTel"
                            placeholder="Enter Customer Number"  [(ngModel)]="customerTel" required />
                    </div>
                    <div class="form-group" *ngIf="deliveryBoyCondition">
                        <label><span class="req">* </span> Delivery Executive Name: </label>
                        <input class="form-control" required type="text" name="delBoyName"
                            id="email" [(ngModel)]="delBoyName" placeholder="Delivery Executive Name" />
                            <label><span class="req">* </span> Delivery Tel : </label>
                         <input class="form-control" type="number" name="delBoyTel"
                            placeholder="Enter Delivery Boy Number" [(ngModel)]="delBoyTel" required />
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                    <div class="form-group" *ngIf="restaurantNav">
                        <input class="btn btn-primary" type="submit" value="Go to Restaurant Page" (click)="goToRestaurantPage()">
                    </div>
                    <div class="form-group" *ngIf="customerNav">
                        <input class="btn btn-primary" type="submit" value="Go to Customer Page" (click)="goToCustomerPage()">
                    </div>
                    <div class="form-group" *ngIf="deliveryBoyNav">
                        <input class="btn btn-primary" type="submit" value="Go to Delivery Boy Page" (click)="goToDeliveryBoyPage()">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>

